apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: "2017-03-29T15:59:14Z"
  name: eos-kubernetes.scratch-charter.net
spec:
  api:
    loadBalancer:
      type: Public
  channel: stable
  cloudLabels:
    Project: EOS
  cloudProvider: aws
  configBase: s3://eos-terraform-state/core/kubernetes/eos-kubernetes.scratch-charter.net
  dnsZone: scratch-charter.net
  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-us-west-1a
      name: a
    name: main
  - etcdMembers:
    - instanceGroup: master-us-west-1a
      name: a
    name: events
  kubernetesApiAccess:
  - 0.0.0.0/0
  kubernetesVersion: 1.5.5
  masterInternalName: api.internal.eos-kubernetes.scratch-charter.net
  masterPublicName: api.eos-kubernetes.scratch-charter.net
  networkCIDR: 10.0.0.0/16
  networkID: vpc-bc2488d8
  networking:
    calico: {}
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 0.0.0.0/0
  subnets:
  - cidr: 10.0.101.0/24
    id: subnet-d238b18a
    name: us-west-1a
    egress: nat-08db5580a9d32f480
    type: Private
    zone: us-west-1a
  - cidr: 10.0.102.0/24
    id: subnet-36e09e52
    name: us-west-1b
    egress: nat-00a70468095814249
    type: Private
    zone: us-west-1b
  - cidr: 10.0.1.0/24
    id: subnet-b13bb2e9
    name: utility-us-west-1a
    type: Utility
    zone: us-west-1a
  - cidr: 10.0.2.0/24
    id: subnet-46e29c22
    name: utility-us-west-1b
    type: Utility
    zone: us-west-1b
  topology:
    bastion:
      bastionPublicName: bastion.eos-kubernetes.scratch-charter.net
    dns:
      type: Public
    masters: private
    nodes: private
